/**
Variables and Mixins
 */

// Mixins

@mixin media ($breakpoint) {
  @if $breakpoint == large {
    @media only screen and (min-width: 800px) {
      @content;
    }
  }

  @media only screen and (min-width: $breakpoint) {
    @content;
  }
}

/* Fonts */

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/raleway-latin-400-normal.woff2') format('woff2'),
  url('../fonts/raleway-latin-400-normal.woff') format('woff');
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/raleway-latin-400-italic.woff2') format('woff2'),
  url('../fonts/raleway-latin-400-italic.woff') format('woff');
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/raleway-latin-700-normal.woff2') format('woff2'),
  url('../fonts/raleway-latin-700-normal.woff') format('woff');
  font-weight: 700;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/raleway-latin-700-italic.woff2') format('woff2'),
  url('../fonts/raleway-latin-700-italic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Material Symbols Outlined';
  src: url('../fonts/MaterialSymbolsOutlined.woff2') format('woff2');
  font-style: normal;
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}

/**
General
 */

html {
  font-family: raleway, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #000;
  font-size: 18px;

  strong {
    font-weight: bold;
  }
}


/* Style the header */
header#header {
  padding: 10px 16px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 999;

  &.active {
    background-color: #000;
    transition: background-color 600ms linear;
  }

  #branding {
    img {
      width: 250px;
      margin-bottom: 40px;
    }
  }

  nav {
    display: flex;

    ul {
      display: flex;
      gap: 10px;
      flex-direction: column;
      align-items: center;

      li {
        padding: 0 23px;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: .3em;
        line-height: 23px;
        box-sizing: border-box;

        a {
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }

  @include media(large) {
    position: fixed;
    flex-direction: row;

    #branding {
      img {
        width: 250px;
        margin-bottom: 0;
      }
    }

    nav {
      display: flex;

      ul {
        flex-direction: row;

        li {
          padding: 0 23px;
          font-size: 12px;
          text-transform: uppercase;
          font-weight: 600;
          letter-spacing: .3em;
          line-height: 23px;
          box-sizing: border-box;

          a {
            color: #fff;
            text-decoration: none;
          }
        }
      }
    }
  }
}

footer#footer {
  padding: 60px;
  background: #000;
  color: #fff;

  .footer-inner {
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    letter-spacing: .3em;
    line-height: 23px;

    .logos {
      flex-grow: 1;
      flex-basis: 0;

      img {
        width: 90%;
        max-width: 400px;
      }
    }

    .product {
      flex-grow: 1;
      flex-basis: 0;

      h2 {
        margin-bottom: 20px;
        font-weight: bold;
        font-size: 16px;
      }

      ul {
        display: flex;
        flex-direction: column;
        gap: 10px;

        li {
          padding: 5px 0;
          font-size: 12px;
          text-transform: uppercase;
          font-weight: 600;
          letter-spacing: .3em;
          line-height: 23px;
          box-sizing: border-box;

          a {
            color: #fff;
            text-decoration: none;
          }
        }
      }
    }

    .offer {
      flex-grow: 1;
      flex-basis: 0;
      font-size: 12px;
      letter-spacing: .3em;
      line-height: 23px;
      box-sizing: border-box;

      h2 {
        font-size: 16px;
        margin-bottom: 10px;
        font-weight: bold;
      }

      p {
        margin-bottom: 10px;

        a {
          color: #fff;
          text-decoration: none;
          font-weight: bold;
        }
      }


    }
  }

  @include media(large) {
    .footer-inner {
      flex-direction: row;

      .logos {
        img {
          width: 400px;
        }
      }
    }
  }

}

#hero {
  background-size: cover;
  background-position: center;
  position: relative;
  padding-bottom: 40px;

  .hero-inner {

    background: rgba(0, 0, 0, .40);
    background-blend-mode: darken;
    width: 90%;
    margin: 40px auto;
    color: #fff;
    padding: 40px;
    border: 3px solid #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    text-align: center;


    span {
      text-wrap: balance;
    }

    h1 {
      font-size: 36px;
      text-wrap: balance;
    }

    h2 {
      font-size: 28px;
      text-wrap: balance;
    }
  }

  @include media(large) {
    padding-bottom: 0;

      .hero-inner {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        text-align: left;
        width: auto;
        margin: 0;

        h1 {
          font-size: 48px;
        }

        h2 {
          font-size: 36px;
        }
      }
    }
}

/**
Homepage
 */
.home {
  #hero {
    background-image: url("/wp-content/themes/boomerang-instawp/assets/images/concert.jpg");
  }

  .feedback, .blurb {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    width: 800px;
    max-width: 90%;
    padding: 60px 16px;
    margin: 0 auto;
    text-align: center;

    h2 {
      font-size: 48px;
      font-weight: bold;
      text-wrap: balance;
    }

    p {
      font-size: 20px;
      line-height: 150%;
      text-wrap: balance;
    }
  }

  .shows {
    margin: 60px auto;
    position: relative;

    img {
      width: 800px;
    }

    .shows-inner {
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translate(-50%);
      padding: 40px;
      background: #fff;
      border: 1px solid #000;
      box-shadow: -10px -10px 5px 0px #3b3b3b;
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: start;
      justify-content: space-evenly;

      h2 {
        font-size: 56px;
        font-weight: bold;
      }

      p {
        font-size: 18px;
        text-transform: uppercase;
      }
    }
  }

  @include media(large) {
    #hero {
      height: 1000px;

      .hero-inner {
        text-align: left;

        h1 {
          font-size: 48px;
        }

        h2 {
          font-size: 36px;
        }
      }
    }

    .shows {
      img {
        width: 1000px;
      }

      height: 783px;
      width: 1200px;
    }
  }

  @include media(1300px) {
    .shows {
      img {
        width: auto;
      }

      .shows-inner {
        bottom: -20px;
        right: -20px;
        left: auto;
        transform: none;
      }
    }
  }
}

/**
Boomerang Archive Page
 */
.page:not(.home) {
  #hero {
    background-image: url("/wp-content/themes/boomerang-instawp/assets/images/seats.jpg");
    background-position: top;
    height: 500px;
  }

  #boomerang-full {
   #boomerang-form {
     margin: 0;
   }

    .boomerang {
      .entry-content {
        line-height: 150%;
      }
    }
  }
}

/**
Boomerang Single Page
 */
.single-boomerang {
  #hero {
    background-image: url("/wp-content/themes/boomerang-instawp/assets/images/seats.jpg");
    height: 500px;
    background-position: top;
  }

  .boomerang {
    .entry-content {
      line-height: 150%;
    }
  }
}